*{
    padding: 0;
    margin: 0;
}
.main{
    display: flex;
    flex-direction: row; 
}
.left{
    
    display:flex;
    flex-direction: column;
    width:650px;
    height: 645px;
    border: 1px solid black;
    background-color: black; 
    color: white;
}
.left>h1,p,img{
    margin:20px;
}
.left>img{
    margin-left:130px;
}
.right{
    width:650px;
    height: 645px;
    border: 1px solid black;
    background-color: #575A85;
    align-items: center;
    justify-content: center; 
    display: flex;
    color: #B8BCCC;
    font-size: 28px;
    flex-direction: column;
}
.btn{
    margin: 10px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    background-color: #575A85;
    border: 2px solid #B8BCCC;
    color:#B8BCCC;
    border-radius: 5px;
    cursor: pointer;
}
#gfg{
    font-weight: 700;    color:white;
}